@import "tailwindcss";
@import "./inline.css";
@import "tw-animate-css";


body {
  background: var(--color-secondary-main);
  color: var(--color-tertiary);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Gilroy,Helvetica, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-secondary-main);

}

::-webkit-scrollbar-thumb {
   background: var(--color-primary-main);
  border-radius: var(--border-radius-sm);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-main);
}