@import "./variable.css";

@theme inline {
  --color-primary: var(--color-primary-main);
  --color-secondary: var(--color-secondary-main);
  --color-text: var(--color-tertiary);
  --color-button: var(--color-button-main);
  --color-quinary: var(--color-quinary-gray);
  --color-septenary: var(--color-secondary-main);
  --color-avatar: var(--color-avatar-main);
}
