:root {
  /* Colors */
  --color-tertiary: #1E1E1E;
  --color-primary-main: #13324B;
  --color-button-main: #0361AE;
  --color-quinary-gray: #999999;
  --color-secondary-main: #FBFBFB;
  --color-avatar-main:  #D2EBFF;

  

  /* Gradients */
  /* --gradient-magenta-to-light-purple: linear-gradient(45deg, #ff00ff, #e6e6fa); */

  /* Typography */
  /* --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

  /* Border Radius */
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;

  /* Transitions */
  --transition-fast: 200ms ease;
  --transition-normal: 300ms ease;
  --transition-slow: 500ms ease;

  /* Shadows */
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 8px 16px rgba(0, 0, 0, 0.1);
} 